@*
* Home page.
*
* @param message A status message from the controller.
*@
@(message: String)(contacts: List[Contact])

@Main("Digits") {

  @MainNavbar("Home")
  <div class="container">
    <table class="table table-bordered table-responsive table-striped">
      <tr>
        <th>First</th> <th>Last</th> <th>Phone</th>
      </tr>

      @for(contact <- contacts) {
        <tr>
          <td>@contact.getFirstName</td> <td>@contact.getLastName</td> <td>@contact.getPhone</td>
        </tr>
      }
    </table>
  </div>
}
