@*
* Contact page.
*
* @param message A status message from the controller.
*@
@(message: String)(contact: Form[views.formdata.ContactFormData])(telephoneType: Map[String,Boolean])

@import views.html.bootstrap3.select
@import views.html.bootstrap3.text
@import views.html.helper.form

@Main("Digits") {

  @MainNavbar("New Contact")
  <div class="container">
  @form(routes.Application.postNewContact(), 'class -> "form-horizontal") {

    <input type="hidden"
    name="@contact("id").name"
    id="@contact("id").id"
    value="@contact("id").value">

    @text(contact("firstName"),
      label = "First",
      placeholder = "First")

    @text(contact("lastName"),
      label = "Last",
      placeholder = "Last")

    @text(contact("phone"),
      label = "Phone",
      placeholder = "Phone")

    @select(contact("phoneType"),
      label = "Phone Type",
      optionMap = telephoneType,
      isMultiple = false)

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"
        class="btn btn-default"
        name="submit"
        id="submit">
          Add
        </button>
      </div>
    </div>
  }
  </div>


}
